name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and start
        run: |
          docker compose up -d --build
      - name: Fixtures
        run: |
          make fixtures
      - name: Test
        run: |
          make test
      - name: Cleanup
        if: always()
        run: |
          docker compose down -v
